$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

table {
  width:80%;
  border: 1px solid black;
  margin-top: 30px;
}

td{
  width:20%;
  border: 1px solid black;
  text-align: center;
  height: 40px;
}

.table-header {
  font-weight: bold;
  background-color: Cyan;
}

.jumbotron {
  text-align: center;
}

form {
  // border: 1px solid black;
  margin-bottom: 20px;
  clear:both;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.modify-buttons {
  margin-top: 30px;
  margin-left: 40px;
}

.loader {
   position: absolute;
   left: 35%;
   top: 55%;
}
